# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Environnements virtuels
# ===============================
.venv/
venv/
env/

# ===============================
# Streamlit
# ===============================
.streamlit/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# OS / IDE
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Logs & temp files
# ===============================
*.log
*.tmp

# ===============================
# Build / cache
# ===============================
.build/
dist/

